@charset "UTF-8";
/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #2A2A2A;
}

ul,
ol,
li {
  list-style: none;
}

input,
select,
button {
  outline: none;
}

/*Для корректного использования rem/em*/
html {
  font-size: 10px;
}

body {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*Пример picture*/
.none {
  display: none;
}

body {
  box-sizing: border-box;
  border: 1px black;
}

body.active-nav {
  overflow: hidden;
  position: fixed;
}

h3 {
  font: normal normal bold 24px/35px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}

h2 {
  font: normal normal 900 64px/95px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}

.container {
  max-width: 1382px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}

.blue:hover {
  background-color: #0098F7;
  color: #0098F7;
  box-shadow: 0 0 10px rgba(0, 152, 247, 0.5);
}

.header {
  box-shadow: 0 5px 5px -5px #333;
  z-index: 1;
}
.header__wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  color: #333;
  max-height: 125px;
  padding: 29px 0;
}
.header__logo {
  flex: 0 0 auto;
  margin-right: 100px;
}
.header__logo-link {
  display: inline-block;
  text-decoration: none;
}
.header__logo-link img {
  min-height: 67px;
  max-width: 208px;
}
.header__menu {
  flex: 1 1 auto;
}
.header__menu-list {
  display: flex;
  gap: 70px;
}
.header__menu-link {
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
  text-transform: uppercase;
  opacity: 1;
}
.header__button {
  padding: 0px 32px;
  max-width: 161px;
  min-height: 40px;
  background-color: #00B3FA;
  border-radius: 9px;
  text-align: center;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.header__button-link {
  color: #2A2A2A;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
}

.navbar {
  display: none !important;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.3s ease-out;
}
.nav-link:hover {
  color: #FFFFFF;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #00B3FA;
}

.main {
  background: url(../img/bg.svg) 0 0/100% auto no-repeat;
  min-height: 100%;
  position: relative;
}
.main__start {
  display: flex;
  justify-content: space-between;
  padding: 49px 0 0 0;
  margin: 0 0 150px 0;
}
.main__start-wrp {
  padding: 93px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main__start-wrp h1 {
  max-height: auto;
  font: normal normal 900 84px/125px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}
.main__start-wrp h3 {
  font: normal normal bold 24px/35px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}
.main__start-button {
  padding: 10px;
  max-width: 270px;
  min-height: 40px;
  background-color: #F6E224;
  border-radius: 10px;
  text-align: center;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}
.main__start-button:hover {
  background-color: #EE9C10;
}
.main__start-burger {
  max-width: 625px;
  align-items: center;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredients h2 {
  margin-bottom: 20px;
}
.ingredients h3 {
  max-width: 690px;
  text-align: center;
}
.ingredients__cards {
  margin: 50px 0;
  display: flex;
  padding: 20px 0;
  box-shadow: transparent linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat padding-box, linear-gradient(to right, #ccc, transparent 20%);
}
.ingredients__cards-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
  padding: 20px 0 20px 0;
  min-width: 229px;
  min-height: 242px;
  margin: 0 26px;
}
.ingredients__cards-product span {
  text-align: center;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}
.ingredients__text {
  max-width: 894px;
  text-align: center;
}

.swiper {
  padding: 50px 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  max-width: 230px;
  height: 242px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
}
.swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.swiper-slide span {
  bottom: 0;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}
.swiper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 14%;
  bottom: 0px;
  background: transparent linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat padding-box;
  pointer-events: none;
  z-index: 1;
}
.swiper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 14%;
  bottom: 0px;
  background: transparent linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat padding-box;
  pointer-events: none;
  z-index: 2;
}

.story__wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 150px 0 150px 0;
}
.story__wrp-text {
  max-width: 668px;
}
.story__wrp-text h3 {
  margin: 18px 0 45px 0;
}
.story__wrp-photo {
  max-width: 635px;
}
.story__wrp-photo img {
  width: 100%;
}

.burgers {
  text-align: center;
}
.burgers__wrp {
  position: relative;
  display: flex;
  gap: 0 16px;
  justify-content: space-between;
  margin: 50px 0;
  max-height: 408px;
}
.burgers__wrp h3 {
  text-align: center;
}
.burgers__wrp-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}
.burgers__wrp-card div {
  margin: 61px 0 42px 0;
}
.burgers__wrp-card a {
  align-self: end;
  bottom: 0;
  color: #00B3FA;
  font: normal normal bold 18px/27px Poppins;
  cursor: pointer;
}
.burgers__wrp-card .ingredients {
  display: none;
  margin-top: 20px;
  top: 100%;
  left: 0;
}
.burgers__wrp-card .ingredients__textBold {
  font: bold 14px Poppins;
  align-self: start;
}
.burgers__wrp-card .ingredients__text {
  font: normal 14px Poppins;
  align-self: start;
}
.burgers__wrp-card.active .ingredients {
  display: flex;
  margin: 0;
}
.burgers__wrp-card.active .ingredients a {
  bottom: 0;
  align-self: end;
}
.burgers__wrp-card.active a.burger__details-link {
  display: none;
}
.burgers__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 161px;
  max-height: 40px;
  background-color: #00B3FA;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.burgers__button-link {
  color: #2A2A2A;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  max-width: 860px;
}
.location__text {
  padding: 30px 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.location__text a {
  font: normal normal normal 24px/35px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}
.location__map {
  display: flex;
  width: 100%;
  height: 483px;
}
.location__map iframe {
  width: 100%;
  height: 100%;
}

footer {
  background: #F5F5F5;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  padding: 15px 0;
  text-align: right;
  display: grid;
  gap: 5px 0;
}
.footer__text h5 {
  font: normal normal bold 14px/21px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}
.footer__text a {
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #2A2A2A;
}

/* PC */
@media (max-width: 1099px) {
  .container {
    max-width: 970px;
  }
  .header {
    box-shadow: 0 5px 5px -5px #333;
  }
  .header__wrp {
    justify-content: space-between;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__menu {
    flex: 0;
  }
  .header__menu-list {
    gap: 20px;
  }
  .main__start-burger img {
    max-width: 100%;
  }
  .story__wrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 150px 0 150px 0;
  }
  .story__wrp-text {
    max-width: 50%;
  }
  .story__wrp-text h3 {
    margin: 18px 0 45px 0;
  }
  .story__wrp-photo {
    max-width: 50%;
  }
}
/* TABLET */
@media (max-width: 991.98px) {
  .container {
    max-width: 940px;
  }
  .header__menu {
    flex: 0;
  }
  .header__menu-list {
    gap: 12px;
  }
  .header__button {
    padding: 0 12px;
  }
  .main {
    background-size: auto;
  }
  .main__start-wrp {
    padding: 0;
  }
  .burgers__wrp-card {
    max-width: 250px;
  }
  .burgers__wrp-card div {
    margin: 20px 0;
  }
  .burgers__wrp-card img {
    width: 100%;
  }
  .burgers__wrp-card h3 {
    height: 75px;
  }
}
/* MOBILE */
@media (max-width: 768.98px) {
  .container {
    max-width: none;
  }
  h3 {
    font: normal normal bold 18px Poppins;
  }
  .main h1 {
    font: normal normal 900 50px Poppins;
  }
  h2 {
    font: normal normal 900 40px Poppins;
  }
  .header__wrp {
    padding: 5px 0;
  }
  .header__logo {
    max-width: 150px;
  }
  .header__logo img {
    min-height: 100%;
    width: 100%;
  }
  .header__button {
    min-height: 30px;
  }
  .header__button-link {
    font-size: 15px;
  }
  .header__menu {
    display: none;
  }
  .navbar {
    display: flex !important;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-color: #00B3FA;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(33px);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .main {
    background-size: auto;
    /* background-size: auto 347px; */
  }
  .main__start {
    margin: 0 0 50px 0;
  }
  .main__start-wrp {
    padding: 0;
    max-width: 50%;
  }
  .story__wrp {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .story__wrp-photo {
    max-width: 100%;
  }
  .story__wrp-text {
    max-width: 100%;
  }
  .story__wrp-text h3 {
    margin: 20px 0;
  }
  .burgers__wrp {
    margin: 20px 0 25px 0;
  }
  .burgers__wrp-card a {
    align-self: center;
  }
  .location {
    margin: 50px auto;
  }
  .location__text {
    padding: 12px 0;
  }
  .location__text a {
    font: normal normal normal 15px Poppins;
  }
  .footer__logo {
    max-width: 150px;
  }
  .footer__logo img {
    min-height: 100%;
    width: 100%;
  }
  .footer__text {
    padding: 5px 0;
  }
  .footer__text a {
    font: normal normal normal 10px Poppins;
  }
}
/* MOBILE SMALL */
@media (max-width: 479.98px) {
  .burgers__wrp {
    max-height: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .burgers__wrp-card {
    margin: 10px 0;
    max-width: 45%;
  }
  .ingredients a {
    align-self: center !important;
  }
  .location__map {
    height: 350px;
  }
}